// Borders

$euiBorderColor: $impColorGray300;

$euiBorderRadius: 4px;

$euiBorderThick: $euiBorderWidthThick solid $euiBorderColor;
$euiBorderThin: $euiBorderWidthThin solid $euiBorderColor;
$euiBorderEditable: $euiBorderWidthThick dotted $euiBorderColor;
