// Sizing
$euiFormControlBorderRadius: $euiBorderRadius;
$euiFormControlCompressedBorderRadius: $euiBorderRadius;

// Coloring
$euiFormBorderColor: $impColorGray500;
$euiFormBackgroundColor: $impColorGray50;
$euiFormBackgroundDisabledColor: $impColorGray200;
$euiFormControlDisabledColor: $impColorGray400;
$euiFormBackgroundReadOnlyColor: $impColorGray100;
$euiFormControlReadonlyColor: $impColorGray500;
$euiFormInputGroupLabelBackground: $impColorGray300;

// Border
$impFormBorderFocusColor: $impColorSuccess400;
$impFormBorderDisabledColor: $impColorGray400;
$impFormBorderInvalidColor: $impColorAlert500;
