// Families
$euiFontFamily: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
$euiCodeFontFamily: 'Roboto Mono', Consolas, Menlo, Courier, monospace;

// Font sizes -- scale is loosely based on Major Third (1.250)
$euiTextScale:      2, 1.5, 1.25, 1.125, 1, .875, .75;

$euiFontSize:       $euiSize; // 5th position in scale
$euiFontSizeXS:     $euiFontSize * nth($euiTextScale, 7); // 12px
$euiFontSizeS:      $euiFontSize * nth($euiTextScale, 6); // 14px
$euiFontSizeM:      $euiFontSize * nth($euiTextScale, 4); // 18px
$euiFontSizeL:      $euiFontSize * nth($euiTextScale, 3); // 20px
$euiFontSizeXL:     $euiFontSize * nth($euiTextScale, 2); // 24px
$euiFontSizeXXL:    $euiFontSize * nth($euiTextScale, 1); // 32px
