.euiFormControlLayout--group {
  $leftSideRadius: $euiFormControlBorderRadius 0 0 $euiFormControlBorderRadius;
  $rightSideRadius: 0 $euiFormControlBorderRadius $euiFormControlBorderRadius 0;

  @include euiFormControlDefaultShadow($borderOnly: true);
  border-radius: $euiFormControlBorderRadius;
  padding: 0;

  .euiFormControlLayout__prepend:first-child {
    border-radius: $leftSideRadius;

    [class*='euiButton'] {
      border-radius: $leftSideRadius;
    }
  }

  .euiFormControlLayout__append:last-child {
    border-radius: $rightSideRadius;

    [class*='euiButton'] {
      border-radius: $rightSideRadius;
    }
  }

  .euiToolTipAnchor:first-child [class*='euiButton'] {
    border-radius: $leftSideRadius;
  }

  .euiToolTipAnchor:last-child [class*='euiButton'] {
    border-radius: $rightSideRadius;
  }

  .euiFormControlLayout__childrenWrapper:nth-child(2) [class*='euiField'],
  .euiFormControlLayout__childrenWrapper:nth-child(3) [class*='euiField'] {
    border-radius: 0;
    box-shadow: none;
  }

  .euiFormControlLayout__childrenWrapper:first-child [class*='euiField'],
  .euiFormControlLayout__childrenWrapper:first-child [class*='euiSelect'] {
    border-radius: $leftSideRadius;
    box-shadow: none;
  }

  .euiFormControlLayout__childrenWrapper:last-child [class*='euiField'],
  .euiFormControlLayout__childrenWrapper:last-child [class*='euiSelect'] {
    border-radius: $rightSideRadius;
    box-shadow: none;
  }

  &.euiFormControlLayout--compressed {
    border-radius: $euiFormControlCompressedBorderRadius;

    .euiFormControlLayout__prepend:first-child {
      border-radius: $leftSideRadius;

      [class*='euiButton'] {
        border-radius: $leftSideRadius;
      }
    }

    .euiFormControlLayout__append:last-child {
      border-radius: $rightSideRadius;

      [class*='euiButton'] {
        border-radius: $rightSideRadius;
      }
    }

    .euiFormControlLayout__childrenWrapper:nth-child(2) [class*='euiField'],
    .euiFormControlLayout__childrenWrapper:nth-child(3) [class*='euiField'] {
      border-radius: 0;
    }

    .euiFormControlLayout__childrenWrapper:first-child [class*='euiField'] {
      border-radius: $leftSideRadius;
    }

    .euiFormControlLayout__childrenWrapper:last-child [class*='euiField'] {
      border-radius: $rightSideRadius;
    }
  }

  .euiButtonIcon {
    &:focus {
      box-shadow: none;
      animation: none;
      -webkit-animation: none;
    }
  }

  // ReadOnly alterations
  &.euiFormControlLayout--readOnly {
    box-shadow: 0 0 0 1px $impFormBorderDisabledColor;
  }

  .euiSelect--inGroup {
    box-shadow: none;
  }
}
