// Component overrides: scss files in src/components/<component>
// Eg: to override src/components/button/_button.scss
// create ./_button.scss
// then @import 'button'

// To be imported from src/theme_imperva.scss

@import 'button';
@import 'table';
