// Overrides of src/components/table/_mixins.scss
@mixin euiTableCellHeader {
  box-shadow: inset 0 -1px 0 $impColorGray600;
}

// Overrides of src/components/table/_variables.scss


// Overrides of src/components/table/_table.scss
.euiTableHeaderCell {
  @include euiTableCellHeader;
  border-bottom: none;
}
