@import '../../global_styling/variables/colors';
@import './design_system/color_palettes';

// Core
$euiColorPrimary: $impColorBlue500;
$euiColorSecondary: $impColorSuccess400;
$euiColorAccent: $impColorAccent500;
$euiColorHighlight: $impColorBlue50;

// These colors stay the same no matter the theme
$euiColorGhost: #FFF;
$euiColorInk: #000;

// Status
$euiColorSuccess: $euiColorSecondary;
$euiColorWarning: $impColorWarning600;
$euiColorDanger: $impColorAlert500;

// Grays
$euiColorEmptyShade: $impColorGray50;
$euiColorLightestShade: $impColorGray200;
$euiColorLightShade: $impColorGray400;
$euiColorMediumShade: $impColorGray500;
$euiColorDarkShade: $impColorGray600;
$euiColorDarkestShade: $impColorGray800;
$euiColorFullShade: $impColorGray900;

// Every color below must be based mathematically on the set above and in a particular order.
$euiTextColor: $euiColorDarkestShade;
$euiPageBackgroundColor: tintOrShade($euiColorLightestShade, 50%, 30%);
$euiTextSubduedColor: makeHighContrastColor($euiColorMediumShade);
$euiTitleColor: shadeOrTint($euiTextColor, 0%, 0%);
$euiLinkColor: $euiColorPrimary;
$euiFocusBackgroundColor: tintOrShade($euiColorPrimary, 90%, 50%);

// Contrasty text variants
$euiColorPrimaryText: makeHighContrastColor($euiColorPrimary);
$euiColorSecondaryText: makeHighContrastColor($euiColorSecondary);
$euiColorAccentText: makeHighContrastColor($euiColorAccent);
