@mixin euiButtonFont {
  font-family: $euiFontFamily;
  font-weight: $euiFontWeightMedium;
  letter-spacing: .5px;
  font-kerning: normal;
}

@mixin euiButtonFocus {
  transition: all $euiAnimSpeedNormal ease-in-out;

  &:focus {
    animation: euiButtonActive $euiAnimSpeedNormal $euiAnimSlightBounce;
  }
}

@mixin euiButton {
  @include euiButtonBase;
  @include euiButtonFont;
  @include euiFontSize;

  text-decoration: none;
  border: solid 1px transparent;

  // sass-lint:disable mixins-before-declarations
  // focus states should come after all default styles
  @include euiButtonFocus;
}
