// Labels
@mixin euiFormLabel {
  @include euiFontSizeXS;
  color: $euiTitleColor;
  font-weight: $euiFontWeightRegular;
  letter-spacing: .4px;
}

// sass-lint:disable-block no-vendor-prefixes
@mixin impFormFont {
  font-family: $euiFontFamily;
  font-weight: $euiFontWeightRegular;
  letter-spacing: .25px;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-kerning: normal;
}

@mixin euiFormControlText {
  @include impFormFont;
  font-size: $euiFontSizeS;
  color: $euiTextColor;
  line-height: 20px;

  @include internetExplorerOnly {
    line-height: 1em; // fixes text alignment in IE
  }

  // sass-lint:disable-block mixins-before-declarations
  @include euiPlaceholderPerBrowser {
    color: $euiColorDarkShade;
  }
}

@mixin euiFormControlFocusStyle($borderOnly: false) {
  background-size: 100% 100%;
  box-shadow: inset 0 0 0 1px $euiFormBorderColor;
}

@mixin euiFormControlInvalidStyle {
  background-size: 100% 100%;
  box-shadow: inset 0 0 0 1px $impFormBorderInvalidColor;
}

@mixin euiFormControlDisabledStyle {
  cursor: not-allowed;
  color: $euiFormControlDisabledColor;
  background-color: $euiFormBackgroundDisabledColor;
  box-shadow: inset 0 0 0 1px $impFormBorderDisabledColor;

  // sass-lint:disable-block mixins-before-declarations
  @include euiPlaceholderPerBrowser {
    color: $euiFormControlDisabledColor;
  }
}

@mixin euiFormControlReadOnlyStyle {
  cursor: default;
  color: $euiFormControlReadonlyColor;
  background-color: $euiFormBackgroundReadOnlyColor;
  box-shadow: inset 0 0 0 1px $impFormBorderDisabledColor;

  // sass-lint:disable-block mixins-before-declarations
  @include euiPlaceholderPerBrowser {
    color: $euiFormControlReadonlyColor;
  }
}

@mixin euiFormControlDefaultShadow($borderOnly: false) {
  background-color: $euiFormBackgroundColor;
  background-repeat: no-repeat;
  background-size: 0 100%;

  @if ($borderOnly) {
    box-shadow: 0 0 0 1px $euiFormBorderColor;
  } @else {
    box-shadow: #{$euiFormControlBoxShadow},
    0 0 0 1px $euiFormBorderColor;
  }

}

// 2. Override invalid state with focus state.
@mixin euiFormControlStyle($borderOnly: false, $includeStates: true, $includeSizes: true) {
  @include euiFormControlSize($includeAlternates: $includeSizes);
  @include euiFormControlDefaultShadow($borderOnly: true);
  @include euiFormControlText;

  border: none;
  border-radius: $euiFormControlBorderRadius;
  padding: $euiFormControlPadding;

  @if ($includeStates) {
    &:invalid { // 2
      @include euiFormControlInvalidStyle;
    }

    &:focus { // 2
      @include euiFormControlFocusStyle($borderOnly: true);
    }

    &:disabled {
      @include euiFormControlDisabledStyle;
    }

    &[readOnly] {
      @include euiFormControlReadOnlyStyle;
    }

    // Needs to be set for autofill
    // sass-lint:disable-block no-vendor-prefixes
    &:-webkit-autofill {
      -webkit-text-fill-color: lightOrDarkTheme($euiColorDarkestShade, $euiColorLightShade);

      ~ .euiFormControlLayoutIcons {
        color: lightOrDarkTheme($euiColorDarkestShade, $euiColorLightShade);
      }
    }
  }

  @if ($includeSizes) {
    &--compressed {
      @include euiFormControlStyleCompressed($borderOnly, $includeStates);
    }

    &--withToggle {
      border-radius: $euiFormControlBorderRadius 0 0 $euiFormControlBorderRadius;
    }

    &--inGroup {
      border-radius: 0;
    }
  }
}
