@mixin euiPanel($selector) {
  @if variable-exists(selector) == false {
    @error 'A $selector must be provided to @mixin euiPanel().';
  } @else {
    #{$selector} {

      @include euiSlightShadow;
      border: none;
    }

    &#{$selector}--isClickable {
      &:hover,
      &:focus {
        @include euiSlightShadowHover;
      }
    }

    &#{$selector}--shadow {
      @include euiBottomShadowSmall;
    }
  }
}
