// Gray palette
$impColorGray50: #FEFEFE;
$impColorGray100: #F2F6FB;
$impColorGray200: #E5EBF2;
$impColorGray300: #CBD6E0;
$impColorGray400: #ACB9C5;
$impColorGray500: #808B95;
$impColorGray600: #606A73;
$impColorGray700: #43494F;
$impColorGray800: #212121;
$impColorGray900: #000;

// Primary blue palette
$impColorBlue50: #F0F6FF;
$impColorBlue100: #D0E1FF;
$impColorBlue200: #A5C6FF;
$impColorBlue300: #7DA8FF;
$impColorBlue400: #5081F2;
$impColorBlue500: #285AE6;
$impColorBlue600: #173EBF;
$impColorBlue700: #0C2699;
$impColorBlue800: #021673;
$impColorBlue900: #00094B;

// Success color palette
$impColorSuccess50: #E6F5F0;
$impColorSuccess100: #D1ECE3;
$impColorSuccess200: #B0DECF;
$impColorSuccess300: #93CDB7;
$impColorSuccess400: #2DB07F;
$impColorSuccess500: #228560;
$impColorSuccess600: #145E46;
$impColorSuccess700: #104C38;
$impColorSuccess800: #0D3F2F;
$impColorSuccess900: #0B3325;

// Warning color palette
$impColorWarning50: #FFFDF0;
$impColorWarning100: #FFF7E0;
$impColorWarning200: #FFF0C2;
$impColorWarning300: #FDE39B;
$impColorWarning400: #FFDA6C;
$impColorWarning500: #FAC73A;
$impColorWarning600: #D4A026;
$impColorWarning700: #946D00;
$impColorWarning800: #875A0B;
$impColorWarning900: #613D07;

// Alert color palette
$impColorAlert50: #FFF2F0;
$impColorAlert100: #FFD2CB;
$impColorAlert200: #FFB8AD;
$impColorAlert300: #F77D77;
$impColorAlert400: #FF5C5E;
$impColorAlert500: #DF2427;
$impColorAlert600: #B8141C;
$impColorAlert700: #910A15;
$impColorAlert800: #69070F;
$impColorAlert900: #4C050B;

// Magenta color palette
$impColorAccent50: #FCEDF6;
$impColorAccent100: #F8D3E9;
$impColorAccent200: #F4B9DC;
$impColorAccent300: #F09ECF;
$impColorAccent400: #EB84C1;
$impColorAccent500: #E561AF;
$impColorAccent600: #DB2490;
$impColorAccent700: #B31C76;
$impColorAccent800: #8D165D;
$impColorAccent900: #610F40;
