// Imperva default theme.
@import 'themes/imperva/imperva_colors';

// Global styling
@import 'themes/imperva/imperva_globals';

// Components
@import 'components/index';

// Packages
@import '../packages/index';

// Component overrides
// Comes after the component import and overrides via cascade
@import 'themes/imperva/overrides/index';
